.header__logo {
  height: 50px;
  margin-right: 1em;
  vertical-align: top;
  margin-top: 12px;
}

.header__title {
  font-weight: 300;
  font-size: 2.2em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
}